# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/*
!logs/.gitkeep
!logs/app/.gitkeep
!logs/gunicorn/.gitkeep

# Flask session
flask_session/*
!flask_session/.gitkeep

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db